In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

In [5]:
pip install pyarrow fastparquet

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp38-cp38-macosx_10_15_x86_64.whl (27.1 MB)
     |████████████████████████████████| 27.1 MB 295 kB/s eta 0:00:011
Collecting fastparquet
  Downloading fastparquet-2023.10.1-cp38-cp38-macosx_10_9_universal2.whl (911 kB)
     |████████████████████████████████| 911 kB 88.9 MB/s eta 0:00:01
Requirement already satisfied: fsspec in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from fastparquet) (0.9.0)
Requirement already satisfied: packaging in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from fastparquet) (20.9)
Collecting pandas>=1.5.0
  Downloading pandas-2.0.3-cp38-cp38-macosx_10_9_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 30.4 MB/s eta 0:00:01
Collecting numpy>=1.20.3
  Downloading numpy-1.24.4-cp38-cp38-macosx_10_9_x86_64.whl (19.8 MB)
     |████████████████████████████████| 19.8 MB 65.4 MB/s eta 0:00:01
Collecting cramjam>=2.3
  Downloading cramjam-2.8.1-cp38-cp38-macosx_10_12_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 57.7 MB/s eta 0:00:01
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from pandas>=1.5.0->fastparquet) (2023.4)
Collecting python-dateutil>=2.8.2
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from pandas>=1.5.0->fastparquet) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from packaging->fastparquet) (2.4.7)
Installing collected packages: python-dateutil, numpy, pandas, cramjam, pyarrow, fastparquet
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.1
    Uninstalling numpy-1.20.1:
      Successfully uninstalled numpy-1.20.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.4
    Uninstalling pandas-1.2.4:
      Successfully uninstalled pandas-1.2.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
scipy 1.6.2 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.24.4 which is incompatible.
Successfully installed cramjam-2.8.1 fastparquet-2023.10.1 numpy-1.24.4 pandas-2.0.3 pyarrow-15.0.0 python-dateutil-2.8.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pyarrow.parquet as pq

In [8]:
parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')

# Read the first 100 rows
df = parquet_file.read_row_group(0, columns=None, use_threads=True).to_pandas().head(100)

In [9]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2023-01-01 00:20:38,2023-01-01 00:21:26,1.0,0.08,1.0,N,75,75,2,3.0,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
96,2,2023-01-01 00:09:16,2023-01-01 00:30:17,1.0,6.22,1.0,N,138,95,2,31.0,6.00,0.5,0.00,0.0,1.0,39.75,0.0,1.25
97,2,2023-01-01 00:46:56,2023-01-01 00:59:16,1.0,4.56,1.0,N,132,218,1,20.5,1.00,0.5,5.75,0.0,1.0,30.00,0.0,1.25
98,2,2023-01-01 00:10:50,2023-01-01 00:20:19,1.0,1.41,1.0,N,264,186,1,10.7,1.00,0.5,3.92,0.0,1.0,19.62,2.5,0.00
99,2,2023-01-01 00:27:35,2023-01-01 00:37:49,1.0,1.70,1.0,N,264,114,1,11.4,1.00,0.5,2.00,0.0,1.0,18.40,2.5,0.00

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [11]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/homebrew/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/homebrew/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [17]:
df = parquet_file.read_row_group(0).to_pandas()

In [18]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 1min 58s, sys: 19.1 s, total: 2min 17s
Wall time: 4min 49s